*{
  margin: 0;
  padding: 0;
}

#titulo{
  text-align: center;
}

.main{
  margin-top: 50px;
  margin-left: 400px;
}

.input{
  border-bottom: 1px solid purple;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 30%; 
}

#info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

#submit{
  width: 200px;
  margin-top: 20px;
}

